.wallpaper__image{
    width:100%;
    height:600px;
    
    
}
.logo{
    position: absolute;
    top: 15%;
    left: 45%;
    border: 1px solid white;
    width: 135px;
    height: 135px;
    background-color: white;
    color: red;
    text-align: center;
    font-size: 85px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;
    font-weight: 500;
}
.banner-text{
    color:white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 250px;
    font-size:40px;
    text-align:center;
    left: 15%;
}
.location-search{
    position: absolute;
    top:410px;
    left:20%;    
}
.restaurant-search{
    position: absolute;
    top:410px;
    left:40%;  
    display:flex;
   
    
}
.location-search select{
    width: 200px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    
}
.restaurant-search input{
    width: 500px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left:10px;
    
}
.restaurant__search__icon{
    background: white;
    padding:4px;
    margin-top:1px;
    height:38px;
    outline:none;
    
}
.search__icon{
    color:blue;    
}

ul{
    list-style-type: none;
    background-color:white;
    
    
}
li{
    padding:8px;
    width:100%;
    margin-left:-15px;
    
}
li:hover{
    background-color:rgb(81, 81, 145);
    color:white;
}
@media only screen and (max-width:600px){
    .logo{
        position: absolute;
        top: 25%;
        left: 45%;
        border: 1px solid white;
        width: 70px;
        height: 70px;
        background-color: white;
        color: red;
        text-align: center;
        font-size: 44px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 50%;
        font-weight: 500;
    }
    .banner-text{
        color: white;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        top: -347px;
        font-size: 30px;
        text-align: center;
        left: -1%;
    }
    .location-search{
        position: relative;
        top:-296px;
        left:23%;
            
    }
    .location-search select{
        width: 300px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
    .restaurant-search{
        position: relative;
        top: -275px;
        left: 23%;  
    }
    .restaurant-search input{
        width: 300px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
    ul{
        width:300px;
    }
    
}

@media only screen and (min-width:601px) and (max-width:792px){
    
    .logo{
        position: absolute;
        top: 20%;
        left: 44%;
        border: 1px solid white;
        width: 120px;
        height: 120px;
        background-color: white;
        color: red;
        text-align: center;
        font-size: 73px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 50%;
        font-weight: 500;
    }
    .banner-text {
        color: white;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        top: -315px;
        font-size: 30px;
        text-align: center;
        
        left: -1%;

    }
    .location-search{
        position: relative;
        top:-275px;
        left:5%;
            
    }
    .location-search select{
        width: 40%;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
    .restaurant-search{
        position: relative;
        top: -315px;
        left: 47%;  
    }
    .restaurant-search input{
        width: 280px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
}

@media only screen and (min-width:793px) and (max-width:992px){
    .logo{
        position: absolute;
        top: 20%;
        left: 45%;
        border: 1px solid white;
        width: 120px;
        height: 120px;
        background-color: white;
        color: red;
        text-align: center;
        font-size: 75px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 50%;
        font-weight: 500;
    }
    .banner-text {
        color: white;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        top: 45%;
        font-size: 30px;
        text-align: center;
        left: 5%;

    }
    .location-search{
        position: absolute;
        top:60%;
        left:5%;
            
    }
    .location-search select{
        width: 300px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
    .restaurant-search{
        position: absolute;
        top: 60%;
        left: 50%;  
    }
    .restaurant-search input{
        width: 260px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
    

}